Checks: >
  -*,
  clang-analyzer-*,
  clang-diagnostic-*,
  bugprone-*,
  cert-*,
  readability-*,
  misc-*,
  readability-braces-around-statements,
  readability-magic-numbers,
  readability-identifier-naming,
  misc-unused-parameters,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -bugprone-easily-swappable-parameter,
  -clang-analyzer-core.FixedAddressDereference,
  -bugprone-assignment-in-if-condition

CheckOptions:
  # --- Naming conventions ---
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.TypeCase
    value: lower_case
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  # --- Magic number suppression ---
  - key: readability-magic-numbers.IgnoredValues
    value: '0,1,-1,2,3,4,8,16,32,64,128,256,512,1024'
  # --- Function size limit ---
  # --- Braces around statements ---
  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'
  - key: readability-function-cognitive-complexity.Threshold
    value: '50'
  - key: readability-function-cognitive-complexity.DescribeBasicIncrements
    value: 'true'

WarningsAsErrors: >
  clang-analyzer-*,
  bugprone-*,
  cert-*

# HeaderFilterRegex: 'src/.*'
HeaderFilterRegex: '^(?!external/).*'
#AnalyzeTemporaryDtors: false
FormatStyle: file
UseColor: true
